nav ul {
  list-style-type: none;
  margin: 0;
	padding: 0;
  display: table;
  width: 100%;
}

nav li {
	display: table-cell;
  background-color: grey;
}

li a {
	display: block;
	text-align: center;
  color: white;
	padding: 30px 30px;
  text-decoration: none;
}

#home .Intro {
  color: black;
  font-size: 18px;
  text-align: center;
  border: 1px solid black;
  padding: 5px;
  position: relative;
  border-width: 2px;
  max-width: 75%;
  margin: auto;
}

#home img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  width: 600px;
  height: 400px;
}

#home .disclaimer {
  text-align: center;
  border: 1px solid black;
  max-width: 25%;
  margin: auto;
}

body h1 {
  color: blue;
}


