nav ul {
  list-style-type: none;
  margin: 0;
	padding: 0;
  display: table;
  width: 100%;
}

nav li {
	display: table-cell;
  background-color: grey;
}

li a {
	display: block;
	text-align: center;
  color: white;
	padding: 30px 30px;
  text-decoration: none;
}


body h1 {
    color: blue;
  }
